.search-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}


.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  font-size: 13px;
  letter-spacing: 1px;
  color: #000;


  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);

  pointer-events: none;
}


.search-container.active .search-input {
  width: 168px;
  opacity: 1;
  padding: 5px 10px;
  margin-right: 10px;
  pointer-events: auto;
}


.search-input::placeholder {
  color: #000000c3;
  font-size: 11px;
  letter-spacing: 1px;
}


.header-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}


.header-icon:hover {
  opacity: 0.6;
}