*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #111;
  overflow-x: hidden;
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


img,
svg,
video,
canvas,
audio {
  display: block;
  max-width: 100%;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}


[hidden] {
  display: none !important;
}